#nav-bar{
  position: fixed;
  top: 0;
}

ul{
  margin: 75px;
}

li{
  
  display: inline-block;
}

@media only screen and (max-width: 200px) {
  body{
    background-color: #00beef;
  }
}

.flex{
  display: flex;
  margin: 10;
}

.section {
  margin: 10px;
}
